section.footer
		.container
			.footer-description
				.brand-holder
					a(href="#") Books-online
				p
					|Несмотря на то, что в наши дни Интернет уверенно набирает позиции, все больше образованных и интеллигентных людей предпочитают проводить свободное время за чтением книг. Наш сайт предлагает совместить инновации «всемирной паутины» с «поглощением» литературных шедевров. Здесь Вы можете совершенно бесплатно и без регистрации читать онлайн как классические, так и современные тексты.
				.metrics
					.image-holder
						img(src="img/content/metrics.png", alt="")
				.footer-search
					#mc_embed_signup
						form#mc-embedded-subscribe-form.validate(action='//all-library.us15.list-manage.com/subscribe/post?u=4b30c807e53d0065a3895fc5e&id=b81455e588', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
							#mc_embed_signup_scroll
								h2 Подпишитесь на наши новости
								.mc-field-group
									label(for='mce-EMAIL')
										| Email
										span.asterisk *
									input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
								.mc-field-group
									label(for='mce-FNAME') Имя
									input#mce-FNAME(type='text', value='', name='FNAME')
								.mc-field-group
									label(for='mce-LNAME') Фамилия
									input#mce-LNAME(type='text', value='', name='LNAME')
								#mce-responses.clear
									#mce-error-response.response(style='display:none')
									#mce-success-response.response(style='display:none')
								// real people should not fill this in and expect good things - do not remove this or risk form bot signups
								div(style='position: absolute; left: -5000px;', aria-hidden='true')
									input(type='text', name='b_4b30c807e53d0065a3895fc5e_b81455e588', tabindex='-1', value='')
								.clear
									input#mc-embedded-subscribe.button(type='submit', value='Подписаться', name='subscribe')
				.copyright
					h3 Books-online 2016