script(src='external/jquery/dist/jquery.min.js')
script(src='external/jquery.browser/dist/jquery.browser.min.js')
script(src='external/blueimp-gallery/js/blueimp-gallery.min.js')
script(src='external/OwlCarousel2-2.2.1/dist/owl.carousel.min.js')
script(src='js/main.js')
