doctype html
html(lang='ru')
	head
		title main

		include ./partials/head.jade

	body
		include ./partials/noscript.jade
		include ./partials/top-line.jade

		include ./partials/breadcrumbs.jade

		.black-plate

		section.content
			.container
				.content-body.inline-layout
					.aside-open#aside-open
					.aside-panel#aside-panel
						.close-btn#aside-slose
						.genre
							h2 Выбрать книгу по жанру
							ul.genre-list#genre-list
								li
									a(href="") Детективы и боевики
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Детские
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Документальное
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Дом и семья
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Компьютеры и интернет
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Любовные романы
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Научно образовательная
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Неизвестно
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Поэзия и драматургия
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Приключения
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Проза
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Старинная литература
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Фантастика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Экономика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Эротика
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
								li
									a(href="") Юмор
									ul
										li
											a(href="") Детская образовательная
										li
											a(href="") Детские стихи
										li
											a(href="") Детские: прочее
										li
											a(href="") Сказки
						.panel-1
							h3 Популярные Авторы
							ul
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-1.png", alt="")
										p Стивен Кинг
										span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-2.png", alt="")
										p Джорджо Мойес
										span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-3.png", alt="")
										p Макс Фрай
										span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-4.png", alt="")
										p Ли Чайлд
										span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-5.png", alt="")
										p Анджей Сапковский
										span 176 книг
								li
									a(href="#")
										.image-holder
											img(src="img/content/auhtor-6.png", alt="")
										p Харуки Мураками
										span 176 книг
						.panel-1.announc
							h3 Анонс
							ul
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-1.png", alt="")
										p Что сделала бы Грейс?
										span Джина Маккинон
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-2.png", alt="")
										p Леди из "Миссолонги"
										span Колин Маккалоу
								li
									a(href="#")
										.image-holder
											img(src="img/content/anounc-3.png", alt="")
										p Отбор
										span Кира Касс
						.panel-1.popul
							h3 Популярные Статьи
							ul
								li
									a(href="#")
										.image-holder
											img(src="img/content/pop-1.png", alt="")
										span 9 декабря 2016
										p Какой формат книг вам подходит?
								li
									a(href="#")
										.image-holder
											img(src="img/content/pop-2.png", alt="")
										span 1 декабля 2016
										p 5 самых лучших книг, которые стоит прочитать зимними вечерами
								li
									a(href="#")
										.image-holder
											img(src="img/content/pop-3.png", alt="")
										span 26 ноября 2016
										p Топ-20 книг, о прочтении которых лгут чаще всего

					.content-holder
						.gen-line
							h4 Детские
							.top-sort
								ul
									li
										a(href="#") Подборки
									li
										a(href="#") Топ 100
									li
										a(href="#") Новинки
									li
										a(href="#") Популярные
						.filters-holder
							h5 Поиск автора книги:

							.sort-holder#sort-holder
								p Сортировать как: 
									span#holderTarg  по новизне
								ul.sort-menu
									li
										a(href="#") По популярности
									li
										a(href="#") По новизне
									li
										a(href="#") По оценке
							

							.abc-list
								ul
									li
										a(href="") A
									li
										a(href="") Б
									li
										a(href="") В
									li
										a(href="") Г
									li
										a(href="") Д
									li
										a(href="") Е
									li
										a(href="") Ж
									li
										a(href="") З
									li
										a(href="") И
									li
										a(href="") Й
									li
										a(href="") К
									li
										a(href="") Л
									li
										a(href="") М
									li
										a(href="") Н
									li
										a(href="") О
									li
										a(href="") П
									li
										a(href="") Р
									li
										a(href="") С
									li
										a(href="") Т
									li
										a(href="") У
									li
										a(href="") Ф
									li
										a(href="") Х
								ul
									li
										a(href="") A
									li
										a(href="") B
									li
										a(href="") C
									li
										a(href="") D
									li
										a(href="") E
									li
										a(href="") F
									li
										a(href="") G
									li
										a(href="") H
									li
										a(href="") I
									li
										a(href="") J
									li
										a(href="") K
									li
										a(href="") L
									li
										a(href="") M
									li
										a(href="") N
									li
										a(href="") O
									li
										a(href="") P
									li
										a(href="") Q
									li
										a(href="") R
									li
										a(href="") S
									li
										a(href="") T
									li
										a(href="") V
									li
										a(href="") Х
									li
										a(href="") Y
							
								
						.library-list
							.inline-layout.col-2
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-1.png", alt="")
											h5 Лолита
											.star-rating
												.star-rating__wrap
													input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
													input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
													input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
													input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
													input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-2.png", alt="")
											h5 Лолита
											.star-rating
												.star-rating__wrap
													input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
													input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
													input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
													input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
													input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-3.png", alt="")
											h5 Лолита
											.star-rating
												.star-rating__wrap
													input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
													input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
													input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
													input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
													input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-4.png", alt="")
											h5 Лолита
											.star-rating
												.star-rating__wrap
													input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
													input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
													input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
													input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
													input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-5.png", alt="")
											h5 Лолита
											.star-rating
												.star-rating__wrap
													input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
													input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
													input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
													input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
													input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-6.png", alt="")
											h5 Лолита
											.star-rating
												.star-rating__wrap
													input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
													input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
													input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
													input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
													input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-7.png", alt="")
											h5 Лолита
											.star-rating
												.star-rating__wrap
													input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
													input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
													input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
													input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
													input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
								.lib-col
									.lib-item
										.head
											.image-holder
												img(src="img/content/photo_book-8.png", alt="")
											h5 Лолита
											.star-rating
												.star-rating__wrap
													input#star-rating-5.star-rating__input(type='radio', name='rating', value='5')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-5', title='5 out of 5 stars')
													input#star-rating-4.star-rating__input(type='radio', name='rating', value='4')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-4', title='4 out of 5 stars')
													input#star-rating-3.star-rating__input(type='radio', name='rating', value='3')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-3', title='3 out of 5 stars')
													input#star-rating-2.star-rating__input(type='radio', name='rating', value='2')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-2', title='2 out of 5 stars')
													input#star-rating-1.star-rating__input(type='radio', name='rating', value='1')
													label.star-rating__ico.fa.fa-star-o.fa-lg(for='star-rating-1', title='1 out of 5 stars')
											ul.book-des
												li
													p Автор: 
														span Кира Касс
												li
													p Жанр: 
														span Сказки
												li
													p Дата добавления: 
														span 15/11/2014
												li
													p Языки книги: 
														span Русский
												li
													p Кол-во страниц: 
														span 430
										.description
											p
												|Главная героиня, Америка Сингер, стала одной из тридцати пяти девушек, отобранных для участия в "соревнованиях" за сердце принца Максона и возможность стать будущей королевой и жить в...
										.btns
											a(href="#").button Читать
											a(href="#") В избранное
											a(href="#") О книге
						
						.pagination-holder
							ul.pagination
								li
									a(href="#").prev
								li
									a(href="#") 1
								li
									a(href="#") 2
								li
									a(href="#") 3
								li
									a(href="#") 4
								li
									a(href="#") ...
								li
									a(href="#") 1728
								li
									a(href="#").next
							.to-page
								form(action="")
									input(type="text")
									a(href="#") Перейти
						.sale
							.inline-layout.col-4
								.sale-col
									.sale-item
										.image-holder
											img(src="img/content/sale-1.png", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
								.sale-col
									.sale-item
										.image-holder
											img(src="img/content/sale-2.png", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
								.sale-col
									.sale-item
										.image-holder
											img(src="img/content/sale-3.png", alt="")
										.description
											p
												|Распродажа качественной женской обуви.
								.sale-col
									.sale-item
										.image-holder
											img(src="img/content/sale-4.png", alt="")
										.description
											p
												|Распродажа качественной женской обуви.


							
		include ./partials/footer.jade

		include ./partials/scripts.jade
